<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Nadeem\PdfFileAttachment\Api\InvoiceAttachmentRepositoryInterface" type="Nadeem\PdfFileAttachment\Model\InvoiceAttachmentRepository"/>
	<preference for="Nadeem\PdfFileAttachment\Api\Data\InvoiceAttachmentInterface" type="Nadeem\PdfFileAttachment\Model\Data\InvoiceAttachment"/>
	<preference for="Nadeem\PdfFileAttachment\Api\Data\InvoiceAttachmentSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<virtualType name="Nadeem\PdfFileAttachment\Model\ResourceModel\InvoiceAttachment\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">nadeem_pdffileattachment_invoiceattachment</argument>
			<argument name="resourceModel" xsi:type="string">Nadeem\PdfFileAttachment\Model\ResourceModel\InvoiceAttachment\Collection</argument>
		</arguments>
	</virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="nadeem_pdffileattachment_invoiceattachment_listing_data_source" xsi:type="string">Nadeem\PdfFileAttachment\Model\ResourceModel\InvoiceAttachment\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
</config>
