<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Nadeem_InvoiceAttachment::InvoiceAttachment" title="InvoiceAttachment" sortOrder="10">
					<resource id="Nadeem_InvoiceAttachment::InvoiceAttachment_save" title="Save InvoiceAttachment" sortOrder="10"/>
					<resource id="Nadeem_InvoiceAttachment::InvoiceAttachment_delete" title="Delete InvoiceAttachment" sortOrder="20"/>
					<resource id="Nadeem_InvoiceAttachment::InvoiceAttachment_update" title="Update InvoiceAttachment" sortOrder="30"/>
					<resource id="Nadeem_InvoiceAttachment::InvoiceAttachment_view" title="View InvoiceAttachment" sortOrder="40"/>
				</resource>
				<resource id="Magento_Backend::stores">
					<resource id="Magento_Backend::stores_settings">
						<resource id="Magento_Config::config">
							<resource id="Nadeem_InvoiceAttachment::config_nadeem_invoiceattachment" title="invoice_attachment"/>
						</resource>
					</resource>
				</resource>
			</resource>
		</resources>
	</acl>
</config>
